<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :user_name %>
  <%= f.text_field :name %><br><br>
  <%= f.label :user_address %>
  <%= f.text_area :address %><br><br>
  <%= f.label :mob_no %>
  <%= f.text_field :mob_no %><br><br>
  <%= f.label :Education %>

  <%= f.fields_for :course do |education| %>
    <%= education.check_box :course1 %>BE
    <%= education.check_box :course2 %>MCA
    <%= education.check_box :course3 %>MBA <br><br>
    <%= f.submit %>
  <% end %>
  
<% end %>
